<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:/ApplicationLogs/Project-Group/App-group/AppName/NLogInternal.log"
      internalLogLevel="Error"
      autoReload="true"
      throwExceptions="true">

	<variable name="Application" value="ProductAPI"/>
	<variable name="Environment" value="Development" />
	<targets  async="true">
		<target type="ColoredConsole"
				name="ColoredConsole"
				layout="${date:format=HH\:mm\:ss} ${level:uppercase=true} ${message} ${onexception:inner=${newline}${exception:format=tostring}}" />
	</targets>
	<rules>
		<logger name="*" minLevel="Trace" writeTo="ColoredConsole" />
	</rules>
</nlog>